<section class="game container">
  <div class="game__window">
    <ul class="game__grid list-reset" id="grid"></ul>
    <ul class="game__overlay list-reset">
      <li class="game__btn" id="reset">
        <svg
          width="50"
          height="50"
          viewBox="0 0 50 50"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <use xlink:href="img/sprite.svg#reset"></use>
        </svg>
      </li>
      <li class="game__btn" id="stop">
        <svg
          width="50"
          height="50"
          viewBox="0 0 50 50"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <use xlink:href="img/sprite.svg#stop"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
